.anime {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: relative;
    background: linear-gradient(339deg, rgba(80,80,80,1) 0%, rgba(255,255,255,1) 51%);
    margin: 20px;
    width: 120px;
    height: 215px;
}

.anime_Link {
    text-decoration: none;
    color: white;
    font-size: 5px;
    padding: 5px;
    padding-left: 0;
}

.anime_Link > img {
    width: 120px;
}