@mixin btn() {
  background: none;
  border: none;
  padding: 0;
  margin-right: 5px;
  cursor: pointer;
}
$color: white;
$boxShadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
.profileContainer {
  margin: 10px;
  min-height: 100vh;
  button {
    background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);
    color: $color;
    padding: 6px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
}
.profileDetails {
  display: flex;
  background-color: rgb(240, 248, 255, 0.5);
  justify-content: space-between;
  padding: 0 20px;
  min-height: 126px;
  margin-bottom: 20px;
}
.profileInfo {
  display: flex;
  gap: 10px;
  padding: 10px;
}
.buttonsEd {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tab {
  background-color: rgb(131, 131, 131);
  color: white;
  box-shadow: $boxShadow;
  max-width: 284px;
  padding: 10px;
  width: 100%;
  height: 40px;
  font-size: 20px;
  margin: 0 15px 10px 0;
  cursor: pointer;
}
.actionLabel {
  font-size: 0.9rem;
  margin: 0 15px 10px 0;
  padding: 5px;
  background-color: rgb(240, 248, 255, 0.5);
}
.radio_watched,
.radio_watching,
.radio_planToWatch {
  display: none;
}
.radio_watched:checked + .tab,
.radio_watching:checked + .tab,
.radio_planToWatch:checked + .tab {
  color: #ba11ee;
  border-color: #ba11ee;
}
.lists {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  .lists_watched,
  .lists_watching,
  .lists_plan {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg) scale(0);
    backface-visibility: hidden;
    transition: all 0.4s linear;
    margin: 20px;
    padding: 10px;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    list-style: none;
  }
}
.radio_watched:checked
  + .tab
  + .radio_watching
  + .tab
  + .radio_planToWatch
  + .tab
  + .lists
  .lists_watched {
  transform: rotate(0);
}
.radio_watching:checked
  + .tab
  + .radio_planToWatch
  + .tab
  + .lists
  .lists_watching {
  transform: rotate(0);
}
.radio_planToWatch:checked + .tab + .lists .lists_plan {
  transform: rotate(0);
}
.list {
  position: relative;
  .action_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100px;
    /* background-color: rgb(129, 129, 129); */
    padding: 5px;
    .addWatched {
      @include btn;
      color: green;
    }
    .addWatching {
      @include btn;
      color: blue;
    }
    .addPlanToWatch {
      @include btn;
      color: orange;
    }
    .delete {
      @include btn;
      color: red;
    }
  }
}
.editProfile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  button {
    width: 50%;
  }
}
.followCounters {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  font-style: none;
  a {
    text-decoration: none;
    color: #ba11ee;
  }
}

@media screen and (max-width: 600px) {
  .profileDetails {
    .imageContainer {
      h1 {
        font-size: 1.5rem;
      }
    }
    .followCounters {
      h2, p {
        font-size: 1.1rem;
      }
    }
  }
  .actionLabel {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 490px) {
  .tab {
    height: 20px;
    font-size: 14px;
  }
  .profileDetails {
    .imageContainer {
      h1 {
        font-size: 1.2rem;
      }
    }
    .followCounters {
      h2, p {
        font-size: 0.8rem;
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .tab {
    font-size: 10px;
  }
  .profileDetails {
    .imageContainer {
      h1 {
        font-size: 1rem;
      }
    }
    .followCounters {
      h2, p {
        font-size: 0.6rem;
      }
    }
  }
}
