@mixin type ($color, $backColor, $borderColor) {
  color: $color;
  background-color: $backColor;
  border-color: $borderColor;
}
$dim: 1rem;
/* The alert message box */
.alert {
  position: relative;
  padding: $dim $dim;
  margin-bottom: $dim;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.error {
  @include type(#842029, #f8d7da, #f5c2c7);
}
.success {
  @include type(#0f5132, #d1e7dd, #badbcc);
}
.warning {
  @include type(#664d03, #fff3cd, #ffecb5);
}
.primary {
  @include type(#084298, #cfe2ff, #b6d4fe);
}
.secondary {
  @include type(#41464b, #e2e3e5, #d3d6d8);
}
.info {
  @include type(#055160, #cff4fc, #b6effb);
}
/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
.hide {
  display: none;
}
