$background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);
nav {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  background: $background;
  z-index: 12;
}
.navbar {
  list-style-type: none;
  background: $background;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.counter {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: -5px;
}
.notifications {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 0px;
  background-color: white;
  color: black;
  font-weight: 300;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  a{
    text-decoration: none;
    padding: 5px;
    &:not(:last-child) {
      border-bottom: 2px solid #aaa;
    }
  }
}
.group {
  display: flex;
  flex-direction: row;
}
.group_profile {
  display: flex;
  flex-direction: row;
  div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.items {
  margin-right: 20px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}
.items a {
  text-decoration: none;
  color: #f1f1f1;
  font-weight: 500;
}
.items a:hover {
  color: #2c0db9;
}
.profile {
  margin-right: 20px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  color: #f1f1f1;
  button {
    width: 100%;
    height: 100%;
  }
}
.profile a {
  text-decoration: none;
  font-weight: 500;
  color: #f1f1f1;
}
.profile a:hover {
  color: #2c0db9;
}
nav input[type="checkbox"],
nav .hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    opacity: 0.95;
  }
  .items {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    text-align: center;
    margin-right: 0px;
    padding: 20px 0;
    &:nth-child(1) {
      border-top: 1px solid rgba(255, 255, 255, 0.555);
    }
  }
  .group {
    flex-direction: column;
    width: 100%;
  }
  .group_profile {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    margin-left: 60px;
  }
  .profile {
    margin: 0;
    width: 100%;
    height: 100%;
    margin: 5px;
    text-align: center;
    align-self: center;
    img {
      width: 50px;
      height: 50px;
    }
    button {
      height: 50%;
    }
  }
  .counter {
    top: 10px;
    right: -5px;
  }
  nav input[type="checkbox"],
  nav .hamburger {
    display: block;
  }
  nav input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }
  nav .hamburger {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .hamburger__line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: rgb(255, 255, 255);
    }
    .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }
    .line2 {
      transition: transform 0.2s ease-in-out;
    }
    .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
  }
  /* Hamburger lines to change when navbar is toggled */
  nav input[type="checkbox"]:checked ~ .navbar {
    transform: translateX(0);
  }

  nav input[type="checkbox"]:checked ~ .hamburger .line1 {
    transform: rotate(35deg);
  }

  nav input[type="checkbox"]:checked ~ .hamburger .line2 {
    transform: scaleY(0);
  }

  nav input[type="checkbox"]:checked ~ .hamburger .line3 {
    transform: rotate(-35deg);
  }
}
