$color: white;
.footer {
  background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);
  padding: 20px;
  display: flex;
  justify-content: center;
  p {
    font-size: 12px;
    color: $color;
    text-align: center;
    display: flex;
    gap: 10px;
  }
  a {
    text-decoration: none;
    color: $color;
  }
}

@media screen and (max-width: 385px) {
  .footer {
    p {
      font-size: 9px;
    }
  }
}
