.footer {
  background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);
  padding: 20px;
  p {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    p {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 385px) {
  .footer {
    p {
      font-size: 9px;
    }
  }
}
