.app {
  min-height: 100vh;
  position: relative;
}

.content {
  flex: 1;
  padding: 40px;
  gap: 20px;
  min-height: 100vh;
}

@media screen and (max-width: 425px) {
  .content {
    padding: 5px;
  }
}
